:root {
  --primary-color: #b52717;
  --primary-color-dark: #3f0e08;
  --background-gradient: radial-gradient(
    var(--primary-color),
    var(--primary-color-dark)
  );

  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Righteous", cursive;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-secondary);
}
