.game-setup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.players-container {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  place-content: center;
}

.player-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  gap: 0.5rem;
  align-items: center;
  border: 3px solid var(--primary-color-dark);
  border-radius: 3px;
  padding: 1rem 0;
  background-color: goldenrod;
}

.player-card .delete {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.35);
}

.player-card .delete:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.75);
}

.player-card .player-number {
  font-size: 1.5rem;
}

.player-card .divider {
  height: 0.5rem;
  fill: var(--primary-color-dark);
}

.player-card input {
  margin-top: 0.25rem;
  width: calc(80% - 2.5rem);
  padding: 0.2em 0.4em 0.1em;
  border: 2px solid var(--primary-color-dark);
  border-radius: 5px;
  font-size: 1.5rem;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
}
