.yahtzee-button {
  border-radius: 15px;
  border: 2px solid #5d140c;
  background-color: goldenrod;
  color: #1f0704;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Righteous", cursive;
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.yahtzee-button[data-styling="secondary"] {
  /* border: 4px solid #333; */
  background-color: #5d140c;
  color: goldenrod;
}

.yahtzee-button:hover:not(:disabled) {
  filter: brightness(80%);
}

.yahtzee-button:disabled {
  filter: brightness(50%);
  cursor: default;
}
