.scoresheet-container {
  border: 4px solid #333;
  background-color: #e4e4e4;
  max-width: max-content;
  padding: 0.5rem;
  position: relative;
  font-family: var(--font-primary);
}

.scoresheet[data-layout="horizontal"] {
  border: 2px solid #222;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 0.25rem;
}

.scoresheet[data-layout="vertical"] {
  border: 2px solid #222;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* table.scoresheet {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
  border-collapse: collapse;
} */

tbody.scoresheet-section {
  width: 33vw;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin: 2px;
  border: 2px solid #222;
}

.scoresheet-section header {
  border-bottom: 2px solid #222;
}

.scoresheet-section-header .header-cell:not(:first-child) {
  justify-content: center;
}

.scoresheet-section-header {
  background-color: #666;
  color: #fff;
}

.scoresheet-row {
  display: flex;
  max-height: 2rem;
  justify-content: center;
}

.scoresheet-row:not(:last-of-type) {
  border-bottom: 2px solid #222;
}

.scoresheet-row .header-cell {
  justify-content: flex-start;
}

.scoresheet-row .header-cell span {
  margin-left: auto;
  margin-right: 1rem;
}

.scoresheet-row > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoresheet-row > :not(:last-child) {
  border-right: 2px solid #222;
}

.scoresheet-row :first-child {
  padding-left: 0.25rem;
}

svg.right-arrow {
  max-height: 1.5rem;
  max-width: min-content;
}

.scoresheet-row p ~ span {
  text-align: center;
}

.scoresheet-cell {
  display: flex;
  /* gap: min(10%, 0.5rem); */
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.take-score-message {
  display: flex;
  place-items: center;
  gap: 0.75rem;
  position: absolute;
  top: 30%;
  left: 103%;
  font-size: 2rem;
  font-family: "Righteous", cursive;
  font-weight: bold;
  color: goldenrod;
  text-shadow: -1px 2px 2px #333;
}

[data-font-size="A"] {
  font-size: 1rem;
}

[data-font-size="B"] {
  font-size: 0.7rem;
  line-height: 80%;
}

[data-font-size="C"] {
  font-size: 0.4rem;
}

[data-font-size="D"] {
  font-size: 0.2rem;
  letter-spacing: -1px;
  line-height: 80%;
}

.player-name-section {
  padding-left: 2rem;
}

.player-name {
  margin-left: 1rem;
  font-size: 2rem;
  font-family: "Righteous", cursive;
}

.scoring-option {
  display: flex;
}
.scoring-option-label {
  flex-basis: 45%;
}

.how-to-score {
  flex-basis: 30%;
  text-align: center;
}

.how-to-score:not(.header-cell) {
  line-height: 12px;
}

.points-scored {
  /* flex-grow: 1; */
  flex-basis: 25%;
}

.points-scored.total {
  background-color: #ccc;
}

.scoring-option .points-scored:not(.locked):hover {
  cursor: pointer;
}

.points-scored.selected {
  background-color: goldenrod;
  /* color: #eee; */
}
