.scoresheet-container {
  display: flex;
  gap: 0.35rem;
  flex-direction: column;
  background-color: #eee;
  border: 2px solid #222;
  border-radius: 8px;
  padding: 0.5em 0.25em;
  max-width: min-content;
}

.scoresheet-container > * {
  border: 2px solid #222;
}

.scoresheet-top {
  display: flex;
  gap: 5rem;
  width: max-content;
}

.scoresheet-top .player-name {
  display: flex;
  flex: 1;
  gap: 0.5rem;
}

.scoresheet-top .player-name h5 {
  align-self: flex-end;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.scoresheet-top .player-name-slot {
  flex: 1;
  display: flex;
  place-items: center;
  justify-content: center;
  border-bottom: 1.5px solid #222;
  margin: 1.5rem 20%;
  font-size: 2.5rem;
  font-weight: bold;
}

table.scoresheet {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  padding: 0.35rem;
  border-collapse: collapse;
}

tbody.scoresheet-section {
  border: 2px solid #222;
  display: flex;
  flex-direction: column;
}

.scoresheet-row {
  display: flex;
}

.scoresheet-row:not(:last-of-type) {
  border-bottom: 1px solid #222;
}

.scoring-option-label {
  flex-basis: 45%;
}

.how-to-score {
  flex-basis: 30%;
}

.points-scored {
  flex-basis: 25%;
}

svg.right-arrow {
  width: 100%;
}
