.home {
  min-height: 100%;
  font-family: "Righteous", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.home .banner {
  flex-basis: 70%;
  min-width: 100%;
  display: grid;
  place-items: center;
}

.home .banner svg {
  width: 80%;
  stroke: black;
  stroke-width: 3px;
  /* translate: 0 -1000px; */
  animation: title-animation 700ms ease-out;
}
.home .selections {
  filter: opacity(0);
  animation-name: selection-animation;
  animation-duration: 500ms;
  animation-play-state: ease;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}
.home .selections a {
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  color: goldenrod;
}

.home .selections a:hover {
  filter: brightness(90%);
  /* color: goldenrod; */
}

@keyframes title-animation {
  0% {
    translate: 0 -1000px;
  }
  /* 95% {
    translate: 0 35px;
  } */
  100% {
    translate: 0;
  }
}

@keyframes selection-animation {
  from {
    filter: opacity(0);
  }
  to {
    filter: opacity(1);
  }
}
