.home {
  min-height: 100%;
  font-family: "Righteous", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.home .banner {
  flex-basis: 70%;
  min-width: 100%;
  display: grid;
  place-items: center;
}

.home .banner svg {
  width: 80%;
  stroke: black;
  stroke-width: 3px;
}

.home .selections a {
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  color: goldenrod;
}

.home .selections a:hover {
  filter: brightness(90%);
  /* color: goldenrod; */
}

/* .home h1 {
  margin-top: auto;
  margin-bottom: auto;
  font-size: largest;
}

.home form {
  margin-bottom: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home form p {
  font-size: 2rem;
  color: goldenrod;
}

.play-btn {
  background-color: goldenrod;
  border: 2px solid #333;
  border-radius: 15px;
  color: #3f0e08;
  padding: 0 1em;
  font-size: 1.5rem;
  height: 100%;
}

.play-btn:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.home a {
  color: goldenrod;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85em;
}

.home a:hover {
  filter: brightness(80%);
} */
