.input-container.counter {
  display: inline-flex;
  border: 2px solid goldenrod;
  border-radius: 15px;
  overflow: hidden;
}

.input-container.counter > * {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}

.input-container.counter button {
  font-size: 1.5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.input-container.counter button span {
  width: max-content;
  text-align: center;
}

.input-container.counter button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  color: goldenrod;
}

.input-container.counter button:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.input-container.counter input[type="number"] {
  font-size: 3rem;
  text-align: center;
  width: 1em;
  pointer-events: none;
  color: rgb(218, 165, 32);
  text-shadow: -1px 1px 1px #333;
  border-right: 1px solid hsla(43, 74%, 37%, 0.5);
  border-left: 1px solid hsla(43, 74%, 37%, 0.5);
}

.input-container.counter input[type="number"]::-webkit-inner-spin-button,
.input-container.counter input[type="number"]::-webkit-outer-spin-button {
  display: none;
}
