.scoresheet-top {
  width: 100%;
  display: flex;
  /* padding: 0.5rem 0.75rem; */
}

.scoresheet-top img {
  margin-left: 1rem;
  width: 25%;
  flex-basis: 20%;
}

.scoresheet-top .player-name {
  flex-basis: 100%;
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
  margin-left: auto;
}

.scoresheet-top .player-name h5 {
  align-self: flex-end;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.scoresheet-top .player-name-slot {
  flex-basis: 50%;
  border-bottom: 2px solid black;
  display: flex;
  place-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.scoresheet-top .player-name-slot p {
  font-weight: bold;
}
