header {
  background-color: Var(--primary-color-dark);
  filter: grayscale(0.3);
  display: inline-flex;
  justify-content: flex-start;
  padding: 0.15rem 0;
  max-height: 4rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25rem;
  color: #ddd;
}

header svg {
  margin-left: 1rem;
  height: 100%;
  /* max-height: 100%; */
}

header svg:hover {
  cursor: pointer;
}

header :last-child {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

nav {
  margin-right: 1rem;
}

nav ul {
  list-style: none;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
}

header a.home-page:not(.logout) {
  animation: glow 0.75s ease-in-out infinite alternate;
}

header a:hover {
  cursor: pointer;
  font-weight: bold;
}

header a:visited {
  color: #ddd;
}

@keyframes glow {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: 0 0 10px goldenrod, 0 0 20px goldenrod, 0 0 30px goldenrod;
  }
}
